<mat-toolbar color="primary">
  <nav class="nav">
    <ul *appShowAuthed="false" class="nav-menu">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/signin" routerLinkActive="active"> Sign in </a>
      <a mat-button routerLink="/signup" routerLinkActive="active"> Sign up </a>
    </ul>
    <ul *appShowAuthed="true" class="nav-menu__authenticated">
      <li>
        <a
          mat-button
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li>
        <a mat-button routerLink="posts" routerLinkActive="active">Posts</a>
      </li>
      <li>
        <a mat-button routerLink="forms" routerLinkActive="active">Forms</a>
      </li>
      <li><a mat-button (click)="signOut()"> Sign out </a></li>
    </ul>
    <select
      [(ngModel)]="currentLanguage"
      (ngModelChange)="switchLanguage(currentLanguage)"
    >
      <option *ngFor="let language of languages" [value]="language.value">
        {{ language.value }}
      </option>
    </select>
  </nav>
</mat-toolbar>
