li {
  list-style: none;
}
.nav-menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.nav-menu a {
  cursor: pointer;
}
.nav-menu__authenticated {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}
