<mat-toolbar color="primary">
  <nav
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <ul *appShowAuthed="false" class="nav-menu">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/signin" routerLinkActive="active"> Sign in </a>
      <a mat-button routerLink="/signup" routerLinkActive="active"> Sign up </a>
    </ul>
    <ul *appShowAuthed="true" class="nav-menu__authenticated">
      <li>
        <a
          mat-button
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li>
        <a mat-button routerLink="posts" routerLinkActive="active">Posts</a>
      </li>
      <li><a mat-button (click)="signOut()"> Sign out </a></li>
      <mat-form-field>
        <mat-select [(value)]="currentLanguage">
          <mat-option value="en">En</mat-option>
          <mat-option value="pt">Pt</mat-option>
        </mat-select>
        {{ currentLanguage }}
      </mat-form-field>
    </ul>
    <!-- <select (change)="setLanguage(language)" [(ngModel)]="currentLanguage"> -->
    <!--   <option *ngFor="let language of languages" [value]="language"> -->
    <!--     {{ option.language }} -->
    <!--   </option> -->
    <!-- </select> -->
  </nav>
</mat-toolbar>
