<mat-toolbar color="primary">
  <mat-list-item>
    <nav>
      <ul class="list">
        <a mat-button routerLink="" routerLinkActive="accent">Home</a>
        <a *ngIf="!token" mat-button routerLink="auth" routerLinkActive="accent"
          >Create an account?</a
        >
        <a *ngIf="token" mat-button routerLink="posts" routerLinkActive="accent"
          >Post list
        </a>
        <button
          mat-button
          routerLink=""
          color="accent"
          *ngIf="token"
          (click)="onSignOut()"
        >
          Sign out
        </button>
      </ul>
    </nav>
  </mat-list-item>
</mat-toolbar>
