<form (submit)="onSubmit(signUpForm)" #signUpForm="ngForm">
  <div class="form-container">
    <mat-form-field>
      <mat-label>Your email</mat-label>
      <input
        matInput
        type="text"
        ngModel
        name="email"
        required
        #email="ngModel"
        autocomplete="username"
      />
      <mat-error *ngIf="email.invalid">{{
        getErrorMessage("Email")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        name="password"
        matInput
        [type]="hide ? 'password' : 'text'"
        required
        ngModel
        #password="ngModel"
        autocomplete="current-password"
      />
      <mat-error *ngIf="password.invalid">{{
        getErrorMessage("Password")
      }}</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button class="button" type="submit" color="accent">
      Sign up
    </button>
  </div>
</form>
