<a mat-button routerLink="/posts" routerLinkActive="active" color="accent"
  >Back to posts</a
>
<form
  *ngIf="currentUrl === 'edit'"
  [formGroup]="modifyForm"
  (ngSubmit)="onSubmit()"
>
  <div class="modify-container">
    <mat-form-field>
      <mat-label>{{ modifyForm.get("title.language").value }}</mat-label>
      <input
        placeholder="Title"
        matInput
        type="text"
        [formControl]="modifyForm.get('title.translation')"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ modifyForm.get("content.language").value }}</mat-label>
      <textarea
        placeholder="Content"
        matInput
        [formControl]="modifyForm.get('content.translation')"
      ></textarea>
    </mat-form-field>
    <button type="submit" mat-button color="primary">{{ title }}</button>
  </div>
</form>

<form
  [formGroup]="modifyForm"
  *ngIf="currentUrl === 'create'"
  (ngSubmit)="onSubmit()"
>
  <div class="modify-container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab
        *ngFor="let tab of modifyForm.controls; let i = index"
        [label]="tab.get('locale').value"
      >
        <div style="display: flex; flex-direction: column">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input
              matInput
              placeholder="Title"
              type="text"
              [formControl]="tab.get('title').controls[0].get('translation')"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Content</mat-label>
            <textarea
              placeholder="Content"
              matInput
              [formControl]="tab.get('content').controls[0].get('translation')"
            ></textarea>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
    <button mat-button color="accent" type="submit" mat-button>
      {{ title }}
    </button>
  </div>
</form>
