<mat-card class="card">
  <mat-card-title>
    {{ post.title[0].value }}
  </mat-card-title>
  <mat-card-content class="card__content">
    {{ post.content[0].value }}
  </mat-card-content>

  <mat-card-subtitle>
    Created at {{ post.createdAt | date : "dd/MM/yyyy" }}
  </mat-card-subtitle>

  <mat-card-actions>
    <button
      mat-icon-button
      color="warn"
      aria-label="Example icon button with a heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-button>{{ post.favourite }}</button>
    <button mat-button>Share</button>
  </mat-card-actions>
  <mat-card-footer>
    <button (click)="editPost(post)" mat-button color="accent">
      Edit post
    </button>
  </mat-card-footer>
</mat-card>
<mat-divider></mat-divider>
