<div>
  <a
    *ngIf="!creatingPost && !editingPost"
    mat-button
    class="create"
    routerLink="create"
    routerLinkActive="active"
    color="primary"
  >
    Create post
  </a>
</div>
<!-- </div> -->
<ul *ngIf="!editingPost && !creatingPost">
  <mat-form-field>
    <mat-label>Select filter type </mat-label>
    <mat-select [(value)]="selectedFilterType">
      <mat-option *ngFor="let type of filterTypeArray" [value]="type">{{
        type
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="posts$ | async as posts">
    <app-post
      *ngFor="let post of posts | language : currentLanguage"
      [post]="post"
    >
    </app-post>
  </div>
</ul>
<mat-paginator
  *ngIf="!editingPost && !creatingPost"
  [length]="paginationPostsData.length"
  [pageSize]="paginationPostsData.pageSize"
  [pageSizeOptions]="pageSizeOptions"
  aria-label="Select page"
  (page)="onPageChange($event)"
>
</mat-paginator>

<div *ngIf="paginationPostsData.length <= 0">Empty posts list</div>
<router-outlet></router-outlet>
