<div class="buttons-container">
  <a
    *ngIf="!creatingPost && !editingPost"
    mat-button
    class="create"
    routerLink="create"
    routerLinkActive="active"
    color="primary"
  >
    Create post
  </a>
  <a
    *ngIf="creatingPost || editingPost"
    mat-button
    routerLink="/posts"
    routerLinkActive="active"
    color="accent"
    >Back to posts</a
  >
</div>
<router-outlet></router-outlet>
<ul *ngIf="!editingPost && !creatingPost">
  <div *ngIf="posts$ | async as posts">
    <app-post
      *ngFor="let post of posts | language : currentLanguage"
      [post]="post"
    >
    </app-post>
  </div>
</ul>
